.sc-egiyK.fsnoLW.adminjs_Box{
    padding-top: 0px;
}
.sc-dJjYzT.tvaeM.sc-fKVqWL.adminjs_Header.adminjs_H5{
    background-color: #4268F6;
    margin: 0px -48px;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 60px;
}
.sc-egiyK.bNVkKb.adminjs_Box{
    display: none;
}